<nav>
  <h1><a href="/">Mako<span class="catering">Catering</span></a></h1>
  <ul class="aside">
    <li>
      <a href="">Services</a>
    </li>
    <li>
      <a href="">Clients</a>
    </li>
    <li>
      <a href="about.html">About</a>
    </li>
    <li>
      <a href="">Contact</a>
    </li>
  </ul>
</nav>
<img alt="Map Pin" class="map-pin" src="/images/map-pin-yellow.png" />
<div class="location" itemscope itemtype="http://schema.org/LocalBusiness">
  <ul itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <li itemprop="streetAddress">2004 Sawtelle Blvd.</li>
    <li>
      <span itemprop="addressLocality">Los Angeles</span>,
      <span itemprop="addressRegion">CA</span>
      <span itemprop="postalCode">90064</span>
    </li>
    <li>
      <span class="contact-info">
        <a href="&#116;&#101;&#108;&#58;&#51;&#49;&#48;&#54;&#57;&#52;&#48;&#54;&#50;&#53;"><span itemprop="telephone">310-694-0625</span></a>
      </span>
    </li>
    <li>
      <span class="contact-info">
        <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#109;&#97;&#107;&#111;&#99;&#97;&#116;&#101;&#114;&#105;&#110;&#103;&#46;&#99;&#111;&#109;">
          <span itemprop="email">info@makocatering.com</span>
        </a>
      </span>
    </li>
  </ul>
</div>
