/*

Title: document.css

Author: skim

Contents:

1. =R ESET
2. =F ONTS
3. =G LOBAL

/* =R E S E T
-------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =F O N T S
-------------------------------------------- */

@font-face {
  font-family: 'Michroma';
  src: url('fonts/michroma-webfont.eot');
  src: url('fonts/michroma-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/michroma-webfont.woff') format('woff'),
       url('fonts/michroma-webfont.ttf') format('truetype'),
       url('fonts/michroma-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* =G L O B A L
-------------------------------------------- */

html, body {
  height: auto;
}

html {
  background-image: url("/images/furley_bg.png");
  background-repeat: repeat;
  background-color: #FAFAFA;
}

body {
  border-top: 5px solid #FFF;
  font-family: 'Cardo', Georgia, serif;
  font-size: 100%;
  margin: 0;
}

div[role=navigation] {
  float: left;
  font-weight: 700;
  position: relative;
  text-shadow: 1px 2px 2px #FFF;
  width: 170px;
}

div[role=main] {
  height: 750px;
  margin: 6em auto 0 auto;
  width: 943px;
}

nav h1 {
  font-size: 2.7em;
  font-weight: normal;
  line-height: 0.75em;
  padding: 0.25em 0 0.5em 0;
  text-transform: uppercase;
  width: 100%;
}

nav h1 span.catering {
  border-bottom: 1px solid #FFF;
  display: block;
  font-size: 0.52em;
  letter-spacing: 3px;
  line-height: 1.333em;
  padding-bottom: 7px;
  width: 140px;
}

nav ul li {
  letter-spacing: 1px;
  margin-left: -7px;
  padding: 7px 0 7px 7px;
  text-transform: uppercase;
}

nav ul li:hover {
  background-color: rgba(218, 188, 38, 0.2);
}

nav ul.aside {
  list-style: none;
}

a {
  color: #333;
  display: block;
  text-decoration: none;
}

a:hover {
  color: #333;
  text-decoration: none;
}


.content {
  background-color: #FFF;

  -webkit-box-shadow: 0px 0px 3px 2px #E5E5E5;
  -moz-box-shadow: 0px 0px 3px 2px #E5E5E5;
  box-shadow: 0px 0px 3px 2px #E5E5E5;

  float: left;
  height: 500px;
  width: 772px;
}

.content div, img {
  margin: 10px;
}

.content figcaption {
  color: #444;
  display: block;
  background-color: #FBFBFB;
  font-size: 0.75em;
  font-weight: 700;
  padding: 10px 0 10px 10px;
  text-transform: uppercase;
}

img.map-pin {
  position: absolute;
    bottom: 2.6em;
    left: -1.5em;
  height: 20px;
  opacity: .4;
}

.location ul li {
  display: inline-block;
  font-size: 0.935em;
  line-height: 1.3em;
}

.location ul li a {
  color: #888;
  text-decoration: underline;
}

.location ul li a:hover {
  color: #dabc26;
}

.location {
  color: #999;
  font-size: 0.85em;
  display: inline-block;
  margin-top: 5em;
  width: 100%;
}

