<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta content="" name="description" />
    <meta content="Los Angeles, Catering, Private Parties, Meetings, Special Events, Mako Restaurant, Asian Cuisine" name="keywords" />
    <title>{{ page.title }}</title>
    <link href="/images/logos/favicon.png" rel="icon" type="image/png" />
    <link href='http://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/document.css" rel="stylesheet" />
    <link href="/stylesheets/grid.css" rel="stylesheet" />
    <script src="/javascripts/lib/jquery-1.7.1.min.js"></script>
    <script src="/javascripts/lib/modernizr.custom.49851.js"></script>
    <script src="/javascripts/lib/selectivizr-min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27427179-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </head>
  <body>
    <div role="main">
      <div role="navigation">
        {% include aside.html %}
      </div>
      <div class="content">
        <figure>
          <img src="/images/slideshow/mako_yuzu_tart.png" />
          <figcaption>
            Mako Yuzu Tart
          </figcaption>
        </figure>
        {{ content }}
      </div>
    </div>
    <!-- Grab latest version of jQuery -->
    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js">
    </script>
    <!-- Include the hashgrid script -->
    <script type="text/javascript" src="javascripts/hashgrid.js"></script>
    
  </body>
</html>
